* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

:root {
  --primary-50: #f0fff7;
  --primary-100: #ceffe4;
  --primary-200: #adffd2;
  --primary-300: #8bffc0;
  --primary-400: #6affae;
  --primary-500: #55e898;
  --primary-600: #3ec67c;
  --primary-700: #2ba462;
  --primary-800: #1b824a;
  --primary-900: #0f6034;

  --secondary-50: #fbfffb;
  --secondary-100: #edffed;
  --secondary-200: #dcfddc;
  --secondary-300: #c1e3c1;
  --secondary-400: #a6caa6;
  --secondary-500: #8eb08e;
  --secondary-600: #769776;
  --secondary-700: #5f7d5f;
  --secondary-800: #496449;
  --secondary-900: #354a35;

  --gray-50: #f8f9fa;
  --gray-100: #f1f3f5;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #868e96;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;

  --red: #FA5252;
  --brown: #b88962;
  --green: #769676;
  --yellow: #feeb60;
  --blue: #9fa3d0;
  --purple: #543466;

  /* 회색 한 단계씩 짙게 한 버전 */
  /* --gray-50: #f1f3f5;
    --gray-100: #e9ecef;
    --gray-200: #dee2e6;
    --gray-300: #ced4da;
    --gray-400: #adb5bd;
    --gray-500: #868e96;
    --gray-600: #495057;
    --gray-700: #343a40;
    --gray-800: #212529;
    --gray-900: #000000; */
}
